<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Prostores z. s.</title>
    <link rel="stylesheet" href="/css/icebreaking.css">
</head>
<body>
    <header>
        <a href="/icebreaking/{{ 'en' if locale === 'cs' else 'cs' }}/{{ equivalent }}/">{{ switch }}</a>
        <a href="/icebreaking/{{ locale }}/">
            <img src="/img/logo-icebreaking-A.png" alt="Icebreaking" width="800" height="393">
        </a>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <nav>
            <h2>{{ project_name }}</h2>
            <ul>
                {% for nav_item in collections.nav_cs if locale === 'cs' else collections.nav_en %}
                    <li>
                        <a href="/icebreaking/{{ locale }}/{{ nav_item.fileSlug }}/">{{ nav_item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <figure>
            <a href="https://www.visegradfund.org/">
                <img src="/img/visegrad_fund.svg" alt="Suported by Visegrad Fund" width="800" height="367">
            </a>
            <figcaption>
                <p>The project is co-financed by the Governments of Czechia, Hungary, Poland and Slovakia through Visegrad Grants from International Visegrad Fund. The mission of the fund is to advance ideas for sustainable regional cooperation in Central Europe.</p>
            </figcaption>
        </figure>
        <p>ⓒ <time datetime="2023-07-05">2023</time> <a href="/">Prostores z. s.</a></p>
    </footer>
</body>
</html>