<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Prostores, z. s.</title>
    <link rel="stylesheet" href="/css/icebreaking.css">
    <link rel="stylesheet" href="/css/blueimp-gallery.min.css">
    {% include "favicon.njk" %}
</head>
<body>
    <header>
        <a href="/icebreaking/{{ locale }}/">
            <img src="/img/logo-icebreaking-A.png" alt="Icebreaking" width="800" height="393">
        </a>
        <a href="/icebreaking/{{ 'en' if locale === 'cs' else 'cs' }}/{{ equivalent }}/">{{ switch }}</a>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <nav>
            <h2>{{ project_name }}</h2>
            <ul>
                {% for nav_item in collections.nav_cs if locale === 'cs' else collections.nav_en %}
                    <li>
                        <a href="/icebreaking/{{ locale }}/{{ nav_item.fileSlug }}/">{{ nav_item.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <figure>
            <a href="https://www.visegradfund.org/">
                <img src="/img/visegrad_fund.svg" alt="Suported by Visegrad Fund" width="800" height="367">
            </a>
            <figcaption>
                {% if locale === 'cs' %}
                    <p>Projekt je spolufinancovaný vládami České republiky, Maďarska, Polska a Slovenska prostřednictvím visegradských grantů z Mezinárodního visegradského fondu. Posláním fondu je prosazovat myšlenky udržitelné regionální spolupráce ve střední Evropě.</p>
                {% else %}
                    <p>The project is co-financed by the Governments of Czechia, Hungary, Poland and Slovakia through Visegrad Grants from International Visegrad Fund. The mission of the fund is to advance ideas for sustainable regional cooperation in Central Europe.</p>
                {% endif %}
            </figcaption>
        </figure>
        <p>ⓒ <time datetime="2023-07-05">2023</time> <a href="/">Prostores z. s.</a></p>
    </footer>

    {% if gallery %}
        <!-- The Gallery as lightbox dialog, should be a document body child element -->
        <div id="blueimp-gallery" class="blueimp-gallery" aria-label="image gallery" aria-modal="true" role="dialog">
            <div class="slides" aria-live="polite"></div>
            <h3 class="title"></h3>
            <p class="description"></p>
            <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
            <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
            <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
            <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space" aria-pressed="false" role="button"></a>
            <ol class="indicator"></ol>
        </div>
        <script src="/js/blueimp-gallery.min.js"></script>
        <script>
            let galleries = document.querySelectorAll('.js-gallery');

            galleries.forEach((gallery) => {
                document.getElementById(gallery.id).onclick = function (event) {
                    event = event || window.event
                    var target = event.target || event.srcElement
                    var link = target.src ? target.parentNode : target
                    var options = {
                        index: link,
                        event: event,
                        onslide: function (index, slide) {
                            var text = this.list[index].getAttribute('data-description'),
                                node = this.container.find('.description')
                            node.empty()
                            if (text) {
                                node[0].appendChild(document.createTextNode(text))
                            }
                        }
                    }
                    var links = this.getElementsByTagName('a')
                    blueimp.Gallery(links, options)
                }
            })
        </script>
    {% endif %}
</body>
</html>