<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Prostores z. s.</title>
    <link rel="stylesheet" href="/css/home.css">
    {% include "favicon.njk" %}
</head>
<body>
    <header>
        <h1>
            <img src="/img/prostores.png" alt="{{ title }}" width="1200" height="356">
        </h1>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>ⓒ <time datetime="2023-07-05">2023</time> <a href="/">Prostores z. s.</a></p>
    </footer>
</body>
</html>