:root {
    --primary: #009fe3;
    --bg: #f4f0e7;
}

body {
    margin: var(--size-fluid-3);
    background-color: var(--bg);
    color: var(--gray-9);
    font-family: var(--font-sans);
}

main,
footer {
    max-width: var(--size-content-3);
}

header {
    display:flow-root;
    margin-block-end: var(--size-7)
}
header a:first-child {
    float: right;
}

header a > img {
    width: 560px;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary);
}

h1 {
    max-inline-size: var(--size-header-2);
    margin-block-end: var(--size-fluid-2);
    font-size: var(--font-size-fluid-3);
}

h2 {
    margin-block: var(--size-fluid-2);
    font-size: var(--font-size-fluid-2);
}

h2 small {
    display: block;
    color: var(--gray-6);
}

h3 {
    max-inline-size: var(--size-content-3);
    margin-block-end: var(--size-fluid-2);
    font-size: var(--font-size-fluid-1);
}

p {
    margin-block-end: var(--size-3);
    font-size: var(--font-size-1);
}

address {
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: var(--border-size-1) solid var(--primary);
    border-block-end: none;
    margin-block: var(--size-7);
}

a:link,
a:visited {
    color: var(--gray-9)
}

a:hover {
    color: var(--primary);
    text-decoration: none;
}

ol ol {
    list-style: lower-alpha;
}

li {
    margin-block-end: var(--size-2)
}