body {
    font-family: sans-serif;
}

address {
    font-style: normal;
}

.projects {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2lh;
    padding-left: 0;

    & li {
        flex: 1;
    }

    & a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1lh;
        text-decoration: none;
    }

    & img {
        width: 200px;
        height: auto;
    }
}