@layer reset, openprops, base, custom;

@import url('reset.css') layer(reset);

@import url('open-props.min.css') layer(openprops);

@import url('base.css') layer(base);

@layer custom {
    body {
        margin: var(--size-3);
        font-family: var(--font-sans);
    }

    header {
        max-width: var(--size-content-3);
    }
    }

    footer {
        padding-block: var(--size-3);
        border-block-start: var(--border-size-1) solid var(--primary);
        margin-block: var(--size-3);
        text-align: center;
    }

    address {
        font-style: normal;
    }

    .projects {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--size-6);
        padding-left: 0;
    }

    .projects li {
        flex: 1;
    }

    .projects a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            gap: var(--size-3);
            text-decoration: none;
        }

    .projects img {
        width: 200px;
        height: auto;
    }
}